@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">
	<h1>Games</h1>
	<div class="games-list">
		<GameButton Name="Word Recall" Url="/word-recall" />
		<GameButton Name="Board Recall" Url="/board-recall" />
		<GameButton Name="Type Racer" Url="/type-racer" />
	</div>
</div>
