@page "/leaderboard"

<h3>Leaderboard</h3>

<label>Select Game:</label>
<select @bind="selectedGame">
    <option value="TypeRacer">TypeRacer</option>
    <option value="WordRecall">WordRecall</option>
    <option value="BoardRecall">BoardRecall</option>
</select>

@if (selectedGame == "TypeRacer")
{
    <h4>TypeRacer High Scores</h4>
    <ul>
        @foreach (var result in TypeRacerResults)
        {
            <li>WPM: @result.TypeRacerWPM</li>
        }
    </ul>
}
else if (selectedGame == "WordRecall")
{
    <h4>WordRecall High Scores</h4>
    <ul>
        @foreach (var result in WordRecallResults)
        {
            <li>Score: @result.WordRecallHS</li>
        }
    </ul>
}
else if (selectedGame == "BoardRecall")
{
    <h4>BoardRecall High Scores</h4>
    <ul>
        @foreach (var result in BoardRecallResults)
        {
            <li>Score: @result.BoardRecallHS</li>
        }
    </ul>
}
